
obj/Caribbean2.csproj.nuget.dgspec.json
obj/Caribbean2.csproj.nuget.dgspec.json
obj/Debug/net8.0/Caribbean2.AssemblyInfo.cs
obj/Debug/net8.0/Caribbean2.AssemblyInfoInputs.cache
obj/Debug/net8.0/Caribbean2.assets.cache
obj/Debug/net8.0/Caribbean2.csproj.AssemblyReference.cache
obj/Debug/net8.0/Caribbean2.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
